/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f5fd;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #2c3e50;
  min-height: 100vh;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
}

.menu li {
  margin: 12px 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background 0.2s;
}

.menu a:hover,
.menu a.active {
  background: #34495e;
  color: #ffcc00;
}

/* Main Content */
.main-content {
  margin-left: 220px;
  padding: 20px;
  flex: 1;
}

/* Header */
.header {
  background: #0047ab;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 28px;
}

.header p {
  color: #ffcc00;
  margin-top: 8px;
}

/* Search Bar */
.search-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-wrapper input {
  padding: 10px 20px;
  border: none;
  border-radius: 8px 0 0 8px;
  width: 60%;
  font-size: 16px;
}

.search-wrapper button {
  padding: 10px 20px;
  background-color: #0c356a;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

/* Filter Section */
.filter-section {
  padding: 20px;
  overflow-x: auto;
}

.category-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.category-buttons::-webkit-scrollbar {
  height: 6px;
}

.category-buttons::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.category-buttons::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.category-buttons button {
  padding: 10px 20px;
  margin: 10px 20px;
  border: none;
  background-color: #003a66;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

/* Job Content */
.job-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.job-card {
  width: 300px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 20px;
}
